---
layout: markdown_page
title: "Product Kickoff Review 13.6"
canonical_path: "/direction/kickoff/"
---
<% keyValue = "13.6" # Set this to the next release we will kick off %>
- TOC
{:toc}

## Overview

The next GitLab release we are kicking off is
<%= keyValue %>
and this page contains the list of issues that are currently planned for that release. We present this during the monthly kickoff call, which is publicly streamed to the [GitLab  Unfiltered YouTube channel](https://www.youtube.com/channel/UCMtZ0sc1HHNtGGWZFDRTh5A/). 

This meeting is hosted by the [VP of Product](https://about.gitlab.com/job-families/product/vp-of-product/). During the meeting, Product Section leaders will present highlights from their respective areas. We will not cover each item in the list below, so feel free to click on any you're interested in and participate directly in the issue. Please also use YouTube comments instead of Google Hangout or Zoom comments.

This page updates on the 22nd of each month to show the next release we will be kicking off. We also have [a YouTube playlist of the below referenced recorded Kickoffs](https://www.youtube.com/playlist?list=PL05JrBw4t0KqWysAAKFYYIE2Tf9IZB5bv).

We'd appreciate it if you would be willing to provide us [feedback](
https://docs.google.com/forms/d/e/1FAIpQLSdNyIB_Rk3rn2-PI-5dWhb7rUfBLmGziTlbmeKYP-mFQEESQQ/viewform?usp=sf_link) on our Kickoff process.

## Dev Section

### Manage

**Video**:
* [Manage:Access Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Kp4Sv3eCZbZKtmMox3NipN-)
* [Manage:Compliance Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Kq48JVbIHqWFJ0IxQeIAtEM)
* [Manage:Import Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqqfLsMNj8EhZ9FoG1-54vH)
* [Manage:Value Stream Management Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KpoUh9zJ7qdUNwQunTgqLxk)

**Issues**:
<%= direction[keyValue]["manage"] %>

### Plan

**Video**:
* [Plan:Project Management Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KoVOLOpXpnvmWwvUCieXJ-K)
* [Plan:Portfolio Management Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqePRdHdedISGkCONp6QCaT)
* [Plan:Certify Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KpRGDNj5qwy5YOj9eEQ6Ut_)

**Issues**:
<%= direction[keyValue]["plan"] %>

### Create

**Videos**:
* [Create:Source Code Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqLWXT14d0V1OWRMDPfmdxU)
* [Create:Knowledge Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Krp3cmR4b0gbtEmTA0Iu76-)
* [Create:Editor Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Kpgl_ChXIzlTZclv4379xM1)
* [Create:Static Site Editor Kickoff Video](https://www.youtube.com/playlist?list=PL05JrBw4t0Kp5STNjq4lr_l2Xiav5W0sS)
* [Create:Ecosystem Kickoff Video](https://www.youtube.com/playlist?list=PL05JrBw4t0Ko8N8quAnsM9trph1tP4sVf)
* [Create:Gitter Kickoff Video](https://www.youtube.com/playlist?list=PL05JrBw4t0Kqitqc1ba2XQF0oAA2ca3_z)
* [Create:Gitaly Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Ko8vcQJc4-6J_g7ohpsQIkz)

**Issues**:
<%= direction[keyValue]["create"] %>

## Ops Section

### Verify

**Videos**:

* [Verify:Continuous Integration Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KrGKYECOTyRT1R0Ji-kYFmz)
* [Verify:Runner Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KrcC7xS0y8a8S9PlElg48bZ)
* [Verify:Testing Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KradvCrf8fL2pggEn5D3w2k)

**Issues**:
<%= direction[keyValue]["verify"] %>

### Package

**Videos**:

* [Package:Package Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KoVP8cJft-Hv4kQH__aFaGS)

**Issues**:
<%= direction[keyValue]["package"] %>

### Release

**Videos**:

* [Release:Release Management Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KplRWO9xUtTAtgZvVf5CqtW)
* [Release:Progressive Delivery Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KrhJjJrad1KQuS-RRIB6asC)

**Issues**:
<%= direction[keyValue]["release"] %>

### Configure

**Videos**:
* [Configure:Configure Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KoqJ_uOHiII_E46XzdK-eB7)

**Issues**:
<%= direction[keyValue]["configure"] %>

### Monitor

**Videos**:
* [Monitor:APM Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KrwFm2xFqvwQodJXRomu5vh)
* [Monitor:Health Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KrUe3MhOsFQGSv2uoN_Ca_B)

**Issues**:
<%= direction[keyValue]["monitor"] %>

## Secure & Protect Section

### Secure

**Videos**:
* [Secure:Static Analysis Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KpG-Vf4OE_1ZcGCfl4hqoJ1)
* [Secure:Dynamic Analysis Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqHxaetI2k4hZrrStTcTtCQ)
* [Secure:Composition Analysis Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqxyGS_Pzc8jqs4BjSzHkk4)
* [Secure:Fuzz Testing Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqswMT728hSZ5wAVjsdCWHE)
* [Secure:Threat Insights Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqdzV37vP42lXMOjbh67J8o)

**Issues**:
<%= direction[keyValue]["secure"] %>

### Protect

**Videos**:
* [Protect:Container Security Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqRVEkGsQF-EkkToGjyKLYv)

**Issues**:
<%= direction[keyValue]["protect"] %>

## Enablement Section

### Enablement

**Videos**:

* [Enablement:Distribution Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Kr_mLueUMhLJ7-Mc7f9eCYc)
* [Enablement:Geo Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KofRx080zwe0VxUEv5yG_nO)
* [Enablement:Memory Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0Kq1HDOIfQ8ov6lfyJkWK2Yr)
* [Enablement:Database Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqP3MYrcoQHrqPUqn_jJZSN)
* [Enablement:Global Search Kickoff Playlist](https://www.youtube.com/playlist?list=PL05JrBw4t0KqBMod_imaJaWeDPb7YdS6l)

**Epics**:
- [Geo: Build a scalable, self-service geo replication and verification framework](https://gitlab.com/groups/gitlab-org/-/epics/2161)
- [Geo: Improved support for a planned failover](https://gitlab.com/groups/gitlab-org/-/epics/2148)
- [Geo: Geo: Promoting a secondary should be simple](https://gitlab.com/groups/gitlab-org/-/epics/3131)
- [Geo: Improve Geo scalability by simplifying backfill operations](https://gitlab.com/groups/gitlab-org/-/epics/2851)
- [Memory: Gather operational metrics and topology data](https://gitlab.com/groups/gitlab-org/-/epics/3209)
- [Memory: Dynamic image resizing](https://gitlab.com/groups/gitlab-org/-/epics/3822)
- [Memory: Detect and investigate endpoints with highest CACHE SQL calls](https://gitlab.com/groups/gitlab-org/-/epics/3873)
- [Database: Database Partitioning](https://gitlab.com/groups/gitlab-org/-/epics/3206)
- [Distribution: Add support for Patroni](https://gitlab.com/groups/gitlab-org/-/epics/2588)
- [Distribution: Secure solution for managing Omnibus configuration secrets](https://gitlab.com/groups/gitlab-org/-/epics/2548)
- [Add support for PostgreSQL 12](https://gitlab.com/groups/gitlab-org/-/epics/2374)
- [Orchestrator - Automate the deployment of GEO and scaled GitLab on GCP](https://gitlab.com/groups/gitlab-org/-/epics/2376)


**Issues**:
<%= direction[keyValue]["enablement"] %>
