:markdown

  ## Junior

  Junior technical writers have similar responsibilities as outlined above, but typically join with less experience in technical writing for similar products.
  
  The main difference between full and junior technical writers is their ability to proactively and independently take on tasks to improve technical writing assets.
